<html>
<head>

</head>
<body>
    Hello  {{ user }}!

    <h3>Send Message</h3>
    <form action="/api/messages" method="post" target="_blank">
        <label>User Name</label><br>
        <input type="text" name="username" value="Vasiliy" /><br><br>
        <label>Message</label><br>
        <input type="text" name="message" value="Some message" size = "30"/><br><br>
        <label>Time</label><br>
        <input type="number" name="show" value="600" size = "10" placeholder="from 1 to 600 seconds" min = "1" max = "600" /><br><br>
        <!--    <label>Text</label><br>
            <input type="text" name="text" value="Some text" /><br>--><br>
        <input id="button" type="submit" value="Отправить" />
    </form>
    <br>
    <a href="/api/messages" target="_blank">Show all messages</a>
    <br>
    <br>
<script>
/*    window.onload = () => {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/get-images', true);
        xhr.send();
        xhr.onreadystatechange = () => {
            if (xhr.readyState != 4) return;
            if (xhr.status != 200) {
                alert(xhr.status + ': ' + xhr.statusText);
            } else {
                let data = JSON.parse(xhr.responseText);
                data.data.forEach(function (item, i, arr) {
                    var images = document.getElementById("image");
                    console.log(images);
                    var li = document.createElement('li');
                    li.innerHTML = `<a href="/images/${item}" target="_blank">${item}</a>`;
                    images.appendChild(li);
                });
            }
        }
    };*/

</script>
</body>
</html>