<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<table cellspacing='0' cellpadding='4' border='1px solid #333333'>
    <tr>
        <td>Time</td>
        <td>Name</td>
        <td>Message</td>
    </tr>
    <tr>
        <td>{{ doc.time }}</td>
        <td>{{ doc.username }}</td>
        <td>{{ doc.message }}</td>
    </tr>
</table>
<br>
<a href="/api/messages">Back to messages</a>
</body>
</html>