<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table cellspacing='0' cellpadding='2' border='1px solid #333333'>
    <tr>
        <td><a href="/api/messages?time={{ order }}">Time</a></td>
        <td><a href="/api/messages?username={{ order }}">Name</a></td>
        <td> Message</td>
    </tr>
    {% for item in docs %}
        <tr>
            <td>{{ item.time }}</td>
            <td><a href="/api/messages/{{ item._id }}">{{ item.username }}</a></td>
            <td>{{ item.message }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>